<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS-Dateien -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/piano.css') }}">
        <title>dtv_portfolio</title>
    </head>
    <body style="background-color: black;">
        <div class="menu">
            <div class="menu_label" id = "menu_aboutme">
                <span class="highlight-letter">A</span>bout Me
            </div>
            <div class="menu_label" id="menu_projects"> Project Port<span class="highlight-letter">f</span>olio</div>
            <div class="menu_label" id="menu_otheractivities">Thin<span class="highlight-letter">g</span>s I do</div>
            <div class="menu_label" id="menu_contact"><span class="highlight-letter">C</span>ontact</div>
        </div>
        <div class="aboutme" id="aboutme">
            <div class="infotext" id="about_me_info_text">
                <h1 id="headline">Hi, ich bin Tam!</h1>
                <p id="text">Ich zeige euch, wie ich Programmieren mit meinem Leben verbinde!</p>
                <div id="noten_blatt" class="hidden">
                    <div class="noten_zeile" id = "vio_notenzeile">
                        <div class="takt_mit_zaehlzeit">
                            <div class="takt_komponenten">
                                <div class="takt_kopf">
                                    <div class="schluessel">𝄞</div>
                                    <div class="zaehlzeit">
                                        <div class="taktzahl">4</div>
                                        <div class="taktstrich"></div>
                                        <div class="taktzahl">4</div>
                                    </div>
                                </div>
                                <div class="takt_body">
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                </div>
                            </div>
                            <div class="notenlinien">
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                            </div>
                        </div>
                        <div class="takt">
                            <div class="takt_komponenten">
                                <div class="takt_body">
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                </div>
                            </div>
                            <div class="notenlinien">
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                            </div>
                        </div>
                        <div class="takt">
                            <div class="takt_komponenten">
                                <div class="takt_body">
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                </div>
                            </div>
                            <div class="notenlinien">
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                            </div>
                        </div>
                        <div class="takt">
                            <div class="takt_komponenten">
                                <div class="takt_body">
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                </div>
                            </div>
                            <div class="notenlinien">
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                            </div>
                        </div>
                    </div>
                    <div class="noten_zeile" id = "bass_notenzeile">
                        <div class="takt_mit_zaehlzeit">
                            <div class="takt_komponenten">
                                <div class="takt_kopf">
                                    <div class="schluessel">𝄢</div>
                                    <div class="zaehlzeit">
                                        <div class="taktzahl">4</div>
                                        <div class="taktstrich"></div>
                                        <div class="taktzahl">4</div>
                                    </div>
                                </div>
                                <div class="takt_body">
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                </div>
                            </div>
                            <div class="notenlinien">
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                            </div>
                        </div>
                        <div class="takt">
                            <div class="takt_komponenten">
                                <div class="takt_body">
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                </div>
                            </div>
                            <div class="notenlinien">
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                            </div>
                        </div>
                        <div class="takt">
                            <div class="takt_komponenten">
                                <div class="takt_body">
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                </div>
                            </div>
                            <div class="notenlinien">
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                            </div>
                        </div>
                        <div class="takt">
                            <div class="takt_komponenten">
                                <div class="takt_body">
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                    <div class="noten">🎶</div>
                                </div>
                            </div>
                            <div class="notenlinien">
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                                <div class="notenlinie"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="piano-wrapper" id="piano_wrapper">
                <div class="piano_menu">
                    <div class="record_button" id="record_button">Record</div>
                    <div class="piano_menu_functions" id="button_to_studio">create_your_melody()</div>
                    <div class="piano_arrow_up" id="piano_trigger">up</div>
                    <div class="piano_menu_functions" id = "play_button">play</div>
                </div>
                <div class="piano mini">
                    <div class="key white" data-note="C"></div>
                    <div class="key white" data-note="D"></div>
                    <div class="key white" data-note="E"></div>
                    <div class="key white" data-note="F"></div>
                    <div class="key white" data-note="G"></div>
                    <div class="key white" data-note="A"></div>
                    <div class="key white" data-note="B"></div>
                    <div class="key white" data-note="C2"></div>
                    <div class="key white" data-note="D2"></div>
                    <div class="key white" data-note="E2"></div>
                    <div class="key white" data-note="F2"></div>
                    <div class="key white" data-note="G2"></div>
                    <div class="key white" data-note="A2"></div>
                    <div class="key white" data-note="B2"></div>

                    <div class="key black csharp" data-note="C_sharp"></div>
                    <div class="key black dsharp" data-note="D_sharp"></div>
                    <div class="key black fsharp" data-note="F_sharp"></div>
                    <div class="key black gsharp" data-note="G_sharp"></div>
                    <div class="key black asharp" data-note="A_sharp"></div>
                    <div class="key black csharp2" data-note="C_sharp2"></div>
                    <div class="key black dsharp2" data-note="D_sharp2"></div>
                    <div class="key black fsharp2" data-note="F_sharp2"></div>
                    <div class="key black gsharp2" data-note="G_sharp2"></div>
                    <div class="key black asharp2" data-note="A_sharp2"></div>
                </div>
            </div>
        </div>
        <div class="project_section" id="project_section">
            <div class="project_head">Projekte</div>
            <div class="project_portfolio" id="project_portfolio">
            </div>
        </div>
        <div class="other_activities"  id="other_activities">Other Activities
        </div>
        <div class="contact_part" id="contact">
            <div class="contact_header">Kontakt</div>

            <!-- Zuerst die Links -->
            <div class="contact">
                <div class="contact_element"><a href="mailto:deine@mail.de">E-Mail</a></div>
                <div class="contact_element"><a href="https://linkedin.com/in/deinprofil" target="_blank">LinkedIn</a></div>
                <div class="contact_element"><a href="https://www.xing.com/profile/deinprofil" target="_blank">Xing</a></div>
                <div class="contact_element"><a href="https://youtube.com/deinkanal" target="_blank">YouTube</a></div>
            </div>

            <!-- Danach das Formular -->
            <form class="contact_form" id="contactForm" action="/contact" method="POST">
                <input type="text" class="form_input" placeholder="Dein Name" name="name" required />
                <input type="email" class="form_input" placeholder="Deine E-Mail-Adresse" name="email" required />
                <textarea class="form_textarea" placeholder="Deine Nachricht" name="message" required></textarea>
                <button type="submit" class="form_button">Send Message</button>
            </form>
        </div>
        
        <!-- JS-Datei -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>