<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Music-Store – Mein Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/music_store.css') }}">
</head>
<body>

  <header>
    <h1>Music-Store</h1>
    <a href="{{ url_for('home') }}">← Zurück zur Übersicht</a>  </header>

  <main>
    <div class = menu>
      <div class = menu_element id="music_label">My Music Sheet</div>
      <div class="menu_element" id="search">Suchleiste</div>
      <div class="menu_element" id="warenkorb">Warenkorb</div>
    </div>
    <div class="music_sheet_section" id="music_sheet_section"></div>
  </main>

</body>
<script src="{{ url_for('static', filename='js/music_store.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.39/Tone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tonejs/midi"></script>
</html>
